.desafio{
    background: #ccebdb;
    color:#000;
    height: 100vh;
    position: absolute;
    top: 200%;
    text-align: center;
    width: 100vw;
}
.pic{
    border-radius: 100%;
}
.info{
    list-style: none;
}
button{
    background: #fff;
    border-radius: 7rem;
    border:1px solid #047904;
    height: 3rem;
    outline: none;
    width: 10rem;
}
.__btn-text{
    color: #047904;
    font-size: 1rem;
    font-weight: bolder;

}