.home{
    background-image: url(../../img/officeBg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100vh;
    position: relative;
    width: 100vw;
    justify-content: space-around;

}
header{
    align-content: center;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    height: 8vh;
    position: fixed;
    width: 100vw;  
}
.__header{
    font-size: 0.9rem;
    text-align: center;
    font-weight: lighter;
}


.titulo{
    font-size: 1.2rem;
    margin: 8vw; 
    width: 80vw;
    position: absolute;
    text-align: center;
    top:20vh;
}
.icones{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    margin: 0vh 20vw; 
    width: 80vw;
    top: 90vh;
}



