@import './_home';
@import './_sobre';
@import './_desafio';

body,html{  
	box-sizing: border-box;
	font-family: sans-serif;
	color: #fff;
	display: grid;
	grid-template-rows: 2fr 2fr 2fr;
	height: 100vh;
	margin: 0;
	padding: 0;
    width: 100vw;
	
}
a{
	color:#fff;
	text-decoration: none;
}
@media only screen and (min-width: 900px) {
	
	.card{
		background: #fff;
		border-radius: 3px;
		box-shadow: 1px 1px 1px 3px #88888860;
		height: 75%;
		justify-content: space-evenly;
		left: 10vw;
		list-style: none;
		position: absolute;
		width: 80vw;
	
		
	}        
	.pic{
		border-radius: 100%;
		height: 10rem;
		width: 10rem;
		position: absolute;
		left: 1rem;
		top: 1rem;
	}
    .info{
		list-style: none;
		position: absolute;
		left: 25rem;
		top: 1.5rem;
      li{
		list-style: none;
        text-align: left;
	  }
	}
	.profile{
		color: #047904;
		position: absolute;
		left: 3rem;
		top: 12rem;
	}

	.btns{
		align-items: center;
		position: absolute;
		left: 25rem;
		top: 10rem;
	}
	button{
		background: #fff;
		border-radius: 0.5rem;
		border:1px solid #047904;
		height: 2rem;
		outline: none;
		width: 9rem;
		
	}
	.__btn-text{
		color: #047904;
		font-size: 1rem;
		font-weight: bolder;
	
	}
	.repo-block{
		align-items: center;
		justify-content: center;
		position: relative;
		top: 14rem;

      
	  li{
		box-sizing: border-box;
		font-size: 0.8rem;
		margin-left: -2.5rem;
		padding: 0.3rem;
		padding-left: 3rem;
	}

		li:nth-child(even){
			background-color: #fff;
		}
		li:nth-child(odd){
			background-color: #047904;
		}
	}
	
  }


// sass --watch ./scss:./dist/css